<!-- Top Header-Profile -->

<div class="container">
    <button class="btn btn-danger pull-right" (click)="logout()">Logout</button> 
	<div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5">
								<ul class="profile-menu">
                                    <li><a routerLink="/home/interest" routerLinkActive="active">Interest</a></li>
                                    <li><a routerLink="/home/notification" routerLinkActive="active">Notification</a></li>
                                    <li><a routerLink="/home/chat" routerLinkActive="active">Chat</a></li>
								</ul>
							</div>
							
                        </div>
                    </div>
                        <div class="container-fluid">
                            <router-outlet></router-outlet>
                        </div>
					</div>
				</div>
			
		</div>
	</div>
</div>