
.profile-section {
    position: relative;
    padding: 38px 0;
    z-index: 3; }
    .profile-section .control-block-button {
      position: absolute;
      right: 38px;
      top: -31px; }
    .profile-section.with-social-menu-tabs {
      padding: 0; }
      .profile-section ul{
            list-style: none;
            padding: 0; }

.profile-menu {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .profile-menu li > div, .profile-menu li a {
      font-size: 14px;
      font-weight: 700;
      color: #9a9fbf;
      display: block; }
      .profile-menu li > div:hover, .profile-menu li a:hover {
        color: #515365; }
      .profile-menu li > div.active, .profile-menu li a.active {
        color: #515365; }
    .profile-menu .more-dropdown {
      width: 230px;
      top: calc(100% + 10px);
      right: -25px; }
      .profile-menu .more-dropdown li {
        display: block; }
    .profile-menu li .more-dropdown a {
      padding: 10px 0;
      font-size: 13px; }
    .profile-menu .friend-count-item {
      text-align: center; }
      .profile-menu .friend-count-item .title {
        font-weight: 400;
        font-size: 12px; }
  