<div class="container">
    <div class="row">
      <div class="col-md-5">
          <div>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="form">
    <div class="form-group">
      <label for="contactnumber">Phone Number</label>
      <input type="tel" class="form-control" id="contactnumber" placeholder="(+91)" nam="phonenumber" formControlName="phonenumber">
      <div *ngIf="myForm.get('phonenumber').errors?.required && myForm.get('phonenumber').touched" class="alert alert-info" role="alert"  >
        You must provide <strong>contact number</strong>
     </div>
    </div>
    <div class="form-group">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male"  formControlName="gender">
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female"  formControlName="gender">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="other"  formControlName="gender">
        <label class="form-check-label" for="inlineRadio3">Other</label>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Choose the Sport</label>
      <select class="form-control" id="exampleFormControlSelect1" name="favouritesport" formControlName="favouritesport">
        <option>Cricket</option>
        <option>Basketball</option>
        <option>Volleyball</option>
        <option>Football</option>
        <option>Badminton</option>
      </select>
    </div>
    <div class="form-group">
    <label>Select the Location</label>
    <br/>
    <div class="form-check form-check-inline">
    <select name="country" class="countries order-alpha" id="locationdropdown" (change)="onChangeState($event.target.value)" name="statelocation">
        <option value="-1" selected disabled>Select the State</option>
        <option *ngFor="let states of countrystatecities;let i = index" value="{{i}}" >{{states.StateName}}</option>
    </select>
    </div>
    <br/>
    <div class="form-check form-check-inline">
    <select name="city" class="cities order-alpha" id="citydropdown" name="citydropdown" formControlName="citylocation">
        <option value="-1" selected disabled>Select the City</option>
        <option *ngFor="let cities of cityselected;let j = index;" value="{{cities}}">{{cities}}</option>
    </select>
    </div>
    </div>
    <div class="form-group">
      <label for="descground">Discuss ground & date</label>
      <textarea class="form-control" name="descground" id="descground" rows="3" formControlName="descground"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="submitbtn" name="submitbtn" type="submit">Search</button>
      </div>
  </form>
</div>
<div>

</div>
</div>
<div class="col-md-2">

</div>

<div class="col-md-5" *ngIf="matchfinders?.length;else warning">
  <div class="customWidth" *ngFor="let obj of matchfinders">
    <div class="card bg-info text-white mb-3">
      <div class="card-header">{{obj.username}}
        <span class="text-right">
          <img src="{{obj.imageurl}}" class="profileimg rounded" alt="...">
        </span>
      </div>
      <div class="card-body bodyCustom">
        <p class="card-title">{{obj.mailaddress}}</p>
        <button type="button" (click)="ConfirmMatch(obj)" class="searchbutton btn btn-dark">Mothi Paaru</button>
      </div>
 
    </div>
  </div>
</div>  
<ng-template #warning>
  <div class="alert">
    <span><strong>Please search for the Matching players nearby</strong></span>
  </div>
</ng-template>
    </div>
</div>

